@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --shadow-color: 205deg 11% 74%;
  --shadow-light-low: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.25),
    0px 1px 1.1px -2.5px hsl(var(--shadow-color) / 0.25);
  --shadow-light-medium: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.35),
    0px 4.8px 5.4px -2.5px hsl(var(--shadow-color) / 0.35);
  --shadow-light-high: 0px 0.3px 0.3px hsl(var(--shadow-color) / 0.43),
    0px 3.8px 4.3px -1.2px hsl(var(--shadow-color) / 0.43),
    -0.1px 16.1px 18.1px -2.5px hsl(var(--shadow-color) / 0.43);

  --shadow-dark: 240deg 7% 1%;
  --shadow-dark-low: 0px 0.3px 0.3px hsl(var(--shadow-dark) / 0.25),
    0px 1px 1.1px -2.5px hsl(var(--shadow-dark) / 0.25);
  --shadow-dark-medium: 0px 0.3px 0.3px hsl(var(--shadow-dark) / 0.35),
    0px 4.8px 5.4px -2.5px hsl(var(--shadow-dark) / 0.35);
  --shadow-dark-high: 0px 0.3px 0.3px hsl(var(--shadow-dark) / 0.43),
    0px 3.8px 4.3px -1.2px hsl(var(--shadow-dark) / 0.43),
    -0.1px 16.1px 18.1px -2.5px hsl(var(--shadow-dark) / 0.43);

  --dark: #1b1f22;
  --light: #fff;
  --shadow: var(--shadow-light-medium);
  --background: #e6edf2;
}

::selection {
  color: none;
  background: none;
}
/* For Mozilla Firefox */
::-moz-selection {
  color: none;
  background: none;
}

body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Outfit", sans-serif;
  background-color: var(--background);
  cursor: none;
}

a {
  cursor: pointer;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img,
picture {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.boing {
  transition: transform 0.3s;
}

.shadow {
  transition: transform 0.3s;
}

body a {
  text-decoration: none;
  color: var(--dark);
}

.greeting {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 50ch;
  padding: clamp(2rem, 1vw, 3rem);
  font-size: clamp(1.125rem, 1.5vw, 2rem);
  line-height: clamp(1.438rem, 1.917vw, 2.556rem);
  font-weight: 300;
  color: var(--dark);
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.55, 0.45, 0.9) forwards;
}

span {
  font-size: clamp(2rem, 12.5vw, 13.5rem);
  line-height: clamp(2.438rem, 15.238vw, 16.457rem);
  font-weight: 300;
  text-align: left;
  opacity: 0;
  animation: fadeIn 0.5s cubic-bezier(0.2, 0.55, 0.45, 0.9) forwards;
  position: relative;
}

span::after {
  content: "👋🏻";
  animation: wiggle 2s;
  display: inline-block;
  position: absolute;
  bottom: 0;
  transform-origin: bottom right;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes wiggle {
  0% {
    transform: rotateZ(0) translateY(0);
  }
  25% {
    transform: rotateZ(-10deg) translateY(2px);
  }
  50% {
    transform: rotateZ(10deg) translateY(4px);
  }
  75% {
    transform: rotateZ(-10deg) translateY(2px);
  }
  100% {
    transform: rotateZ(0) translateY(0);
  }
}

.big-grid-about {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 0.1fr 2fr 0.9fr;
  gap: 0px 0%;
  padding: 0;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  height: 80vh;
}

@media screen and (max-width: 768px) {
  .big-grid-about {
    height: auto;
  }
}
@media screen and (max-height: 600px) {
  .big-grid-about {
    height: auto;
  }
}

.about {
  color: var(--dark);
  display: flex;
  margin: 0;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  max-width: 65ch;
  gap: 1rem;
  margin-bottom: 5rem;
}

.about p {
  gap: 1rem;
  letter-spacing: -0.016rem;
  font-size: 0.875rem;
  line-height: 1.188rem;
  font-weight: 400;
}

.about a {
  max-width: 10rem;
  align-self: center;
  text-align: center;
  margin: 1rem auto;
  font-size: 1.188rem;
  font-weight: 600;
  padding: 0.25rem 1.5rem;
  background: var(--light);
  border-radius: 2rem;
  color: var(--dark);
  letter-spacing: 1px;
  box-shadow: var(--shadow);
}

footer {
  position: fixed;
  display: flex;
  justify-content: center;
  width: 100%;
  bottom: 0;
  padding-bottom: 1.5rem;
}

.footer-container {
  display: flex;
  gap: 0.5rem;
  margin: 0;
  align-items: center;
  border-radius: 10rem;
  background: var(--light);
  color: var(--dark);
  box-shadow: var(--shadow);
  list-style: none;
  font-size: 1.188rem;
  font-weight: 500;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

footer a {
  text-align: center;
  font-size: 1.188rem;
  font-weight: 500;
  color: var(--light);
  letter-spacing: 1px;
}

.cursor {
  pointer-events: none;
}
.cursor__ball {
  position: fixed;
  top: 0;
  left: 0;
  mix-blend-mode: difference;
  z-index: 1000;
}
.cursor__ball circle {
  fill: white;
}

@media (hover: none) or (pointer: coarse) {
  .cursor {
    visibility: none;
  }
}

.menu {
  position: fixed;
  display: flex;
  justify-content: space-around;
  max-width: 22.5rem;
  width: 100%;
  gap: 0.5rem;
  bottom: 0;
  background-color: var(--light);
  border-radius: 10rem;
  margin: 1.5rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: var(--shadow);
}

.menu-item {
  display: none;
  position: absolute;
  flex-direction: column;
  gap: 0.5rem;
  bottom: 100%;
  padding: 0.5rem 0rem;
  left: 7rem;
  z-index: -10;
}

.menu-item a {
  background: var(--light);
  color: var(--dark);
  padding: 0.25rem 1.5rem;
  border-radius: 2rem;
  font-size: 1.188rem;
  font-weight: 500;
  box-shadow: var(--shadow);
}

button {
  all: unset;
  padding: 0.5rem 1rem;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

button > svg {
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
}

@media screen and (min-width: 1024px) {
  .menu {
    display: none;
    visibility: hidden;
  }
}

@media only screen and (max-width: 410px) {
  .menu {
    max-width: 20rem;
  }
  .menu-item {
    left: 5.75rem;
  }
}

@media only screen and (max-width: 768px) {
  .about {
    padding: 2rem 2rem 5rem 2rem;
  }
}

@media (max-width: 1023px) {
  .footer-container {
    display: none;
    visibility: hidden;
  }
}

.big-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 0.1fr 2fr 0.9fr;
  gap: 0px 0%;
  margin: 0 1.5rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.grid {
  display: grid;
  place-items: center;
  grid-template-columns: 1fr 1fr;
  margin-bottom: 10rem;
  gap: 1.5rem;
}

.grid a {
  background: var(--light);
  color: var(--dark);
  max-width: 32.25rem;
  width: 100%;
  border-radius: clamp(1rem, 1.2vw, 1.5rem);
  padding: 0.5rem;
  box-shadow: var(--shadow);
  align-items: center;
}

.grid > a > p {
  margin-top: 0.25rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  text-indent: 0.25rem;
  font-size: clamp(0.875rem, 1vw, 1rem);
}

.grid a img {
  max-width: 31.25rem;
  width: 100%;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}

@media (max-width: 1023px) {
  .grid {
    grid-template-columns: 1fr;
    margin-top: 1.5rem;
    margin-bottom: 8rem;
  }
}

/*-------------------------------------------------------------------------*/

header {
  max-width: 60rem;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
}

.switch {
  transform: translateY(-0.75rem);
}

label {
  width: 5rem;
  height: 2rem;
  position: relative;
  display: block;
  background: #fff;
  border-radius: 2rem;
  cursor: pointer;
  transition: 0.3s;
}
label:after {
  content: "";
  width: 1.8rem;
  height: 1.8rem;
  position: absolute;
  top: 0.1rem;
  left: 0.1rem;
  background: #f2cb0c;
  border-radius: 1.8rem;
  transition: 0.3s;
}
input {
  width: 0;
  height: 0;
  visibility: hidden;
}
input:checked + label {
  background: #1b1f22;
}
input:checked + label:after {
  left: 4.9rem;
  transform: translateX(-100%);
  background: #0f0f10;
}
label:active:after {
  width: 2.6rem;
}

input:checked + label + .background {
  background: #1b1f22;
}
label svg {
  position: absolute;
  width: 1.2rem;
  top: 0.4rem;
  z-index: 100;
}
label svg.sun {
  left: 0.4rem;
  fill: #f2cb0c;
  transition: 0.3s;
}
label svg.moon {
  left: 3.4rem;
  fill: #2e67f8;
  transition: 0.3s;
}
input:checked + label svg.sun {
  fill: #9e1919;
}
input:checked + label svg.moon {
  fill: #0f0f10;
}

/*--------------------------------------------*/

dialog {
  border-radius: 1rem;
  border: none;
  background: var(--light);
  padding: 2rem;
  margin: 1.5rem auto;
  transition: all 0.3s ease-in;
  transform: none;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

@media (max-width: 1023px) {
  dialog {
    padding: 1rem;
    margin: 1 auto;
  }
}

dialog::-webkit-scrollbar {
  display: none;
}

dialog[open] {
  transition: all 0.3s ease-in;
}

dialog p,
ul {
  font-size: clamp(0.875rem, 1vw, 1rem);
}

form {
  cursor: pointer;
  align-items: center;
}

form > button {
  top: 0;
  left: 0;
}

/*.dialog {
  max-width: 80vw;
  width: 100%;
}*/

.form-img {
  max-width: 90rem;
  width: 80vw;
}

.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 24px;
}

.heading {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--dark);
  gap: 1rem;
}

.heading > h1 {
  font-size: clamp(1.5rem, 2vw, 2rem);
  font-weight: 300;
}

.heading > button {
  max-height: 2rem;
  padding: 0;
}

.thumbnail {
  margin: 3rem auto 8rem;
  max-width: 85.375rem;
  width: 100%;
  border-radius: clamp(0.5rem, 1vw, 1rem);
}

.solution {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  justify-content: center;
  align-items: baseline;
  gap: 2rem;
  padding: 4rem 0;
  color: var(--dark);
}

@media (max-width: 1023px) {
  .solution {
    display: flex;
    flex-direction: column;
  }
}

.solution > p {
  max-width: 60ch;
  font-size: clamp(0.875rem, 1.2vw, 1rem);
}

/*--------------------------CAROUSEL----------------------------*/

.outer {
  position: relative;
  width: 70vw;
  height: 70vh;
  display: grid;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  overflow: scroll;
  margin: 0 auto;
  scrollbar-width: none;
  border-radius: clamp(0.5rem, 1vw, 1rem);
  background-color: var(--dark);
}

.outer:active {
  cursor: grabbing;
}

.inner {
  display: flex;
  flex-direction: row;
  position: absolute;
  width: calc(70vw - 1rem);
  height: calc(70vh - 1rem);
  user-select: none;
  gap: 3rem;
  pointer-events: none;
}

.inner > img {
  max-width: calc(70vw - 0.5rem);
  object-fit: contain;
  border-radius: 1rem;
}

.progress-bar {
  position: absolute;
  max-width: 10rem;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 0.5rem;
  border-radius: 1rem;
  padding: 0;
  background-color: var(--dark);
}
.progress-bar-border {
  background: var(--dark);
  opacity: 0.1;
  position: relative;
  width: 100%;
  border-radius: 1rem;
  height: 100%;
  left: -1px;
}
.progress-bar-wrapper {
  position: relative;
  width: 10rem;
  height: 0.5rem;
  margin: 0 auto;
}
.slider-wrapper {
  position: static;
  display: flex;
  margin: 0 auto;
  width: 70vw;
  height: 70vh;
  overflow: hidden;
}
.slider-container {
  display: flex;
  flex-direction: column;
  max-width: 70vw;
  width: 100%;
  height: 80vh;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 4rem auto;
}

.slider-container-prompt {
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  width: 100%;
  height: 75vh;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin: 0 auto;
}

@media (max-width: 1023px) {
  .slider-wrapper, .outer {
    width: 75vw;
    height: 40dvh;
  }
  .slider-container, .slider-container-prompt{
    max-width: 100vw;
    width: 100%;
    height: 50dvh;
    margin: 1rem auto;
  }
  .inner{
    height: calc(40dvh - 1rem);
  }
}

/*---------------------------------------------------------------*/

.research-image {
  display: grid;
  max-width: 85.375rem;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 4rem auto 8rem auto;
}

.research-image-cc {
  display: grid;
  max-width: 85.375rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  justify-items: center;
  margin: 4rem auto 8rem auto;
}

.ideation-content {
  color: var(--dark);
  margin: 4rem auto 8rem auto;
}

.ideation-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  margin: 1rem auto;
  padding: 0;
  max-width: 85.375rem;
  align-items: center;
}

.ideation-list {
  height: 100%;
  max-width: 55ch;
}

@media (max-width: 1023px) {
  .ideation-grid {
    grid-template-columns: 1fr;
  }
  .research-image {
    grid-template-columns: 1fr;
  }
  .ideation-content {
    margin: 4rem auto;
  }
  .research-image-cc {
    grid-template-columns: 1fr 1fr;
  }
}

h2 {
  font-size: clamp(1.25rem, 2vw, 2rem);
  font-weight: 400;
  color: var(--dark);
}

h3 {
  font-size: clamp(1rem, 2vw, 1.25rem);
  font-weight: 400;
  color: var(--dark);
}

.grid-try {
  display: grid;
  height: 100%;
  grid-template-columns: 0.3fr 1.7fr;
  color: var(--dark);
  gap: clamp(2rem, 8vw, 20rem);
  align-items: baseline;
}

.grid-try-content {
  max-width: 70ch;
}

.grid-with-img {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  color: var(--dark);
  padding: 1rem 0;
  gap: clamp(2rem, 8vw, 20rem);
  align-items: top;
}

.grid-with-img-content {
  max-width: 70ch;
}

.col-wrapper {
  display: grid;
  max-width: 80vw;
  grid-template-columns: 1fr 1fr;
  margin: 0 auto;
  gap: 2rem;
  color: var(--dark);
}

.col-wrapper > img {
  max-width: 25rem;
  max-height: 100%;
  width: 100%;
}

.col-2 {
  display: grid;
  gap: 1rem;
}

.col-1 {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  gap: 1rem;
}

.col-2-text {
  display: grid;
  grid-template-columns: 0.4fr 1.6fr;
  gap: 1rem;
}

.grid-illustrations {
  display: grid;
  max-width: 85.375rem;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    "first first"
    "second third";
  gap: 4rem;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
}

.first {
  grid-area: first;
}
.second {
  grid-area: second;
}
.third {
  grid-area: third;
}

.grid-color {
  display: grid;
  max-width: 85.375rem;
  padding: 1rem 0;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2rem;
  grid-column-gap: 6rem;
}

.grid-color-inner {
  display: grid;
  grid-template-columns: 0.3fr 1.7fr;
  gap: 1rem;
}

.grid-buttons-inner {
  display: grid;
  grid-template-columns: 0.4fr 1.7fr;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.grid-dark-light {
  display: grid;
  max-width: 85.375rem;
  padding: 1rem 0;
  width: 100%;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.grid-responsive {
  display: grid;
  max-width: 85.375rem;
  padding: 1rem 0;
  gap: 2rem;
}

@media (max-width: 1023px) {
  .grid-try,
  .grid-with-img,
  .col-wrapper,
  .grid-dark-light,
  .grid-color {
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  .grid-illustrations {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas:
      "first"
      "second"
      "third";
  }
}
